<div class="text-layout">
    <h1>Basic Pipes</h1>
    <p>Pipes included in Angular - Usually in Common Module</p>
</div>

<div class="grid">
    <div class="md:col-4">
        <p-card 
            header="uppercase"
            [subheader]="nameLower | uppercase">{{name | uppercase}}</p-card>
    </div>
    <div class="md:col-4">
        <p-card 
            header="lowercase"
            [subheader]="nameLower | lowercase">{{name | lowercase}}</p-card>
    </div>
    <div class="md:col-4">
        <p-card 
            header="titlecase"
            [subheader]="nameLower | titlecase">{{name | titlecase}}</p-card>
    </div>
</div>

<div class="text-layout">
    <h1>Date Pipes</h1>
    <p>Pipes to show dates</p>
</div>

<div class="grid">
    <div class="md:col-6">
        <p-card>
            <ul>
                <li>Date</li>
                <li>Date | date</li>
                <li>Date | date short</li>
                <li>Date | date long</li>
                <li>Date | date month</li>
                <li>Date | date month day year</li>
            </ul>

            <hr/>
            <ul>
                <li>Date | date:'long':'GMT-6'</li>
                <li>Date | date:'long':'':'fr'</li>
            </ul>
        </p-card> 
    </div>
    <div class="md:col-6">
        <p-card>
            <ul>
                <li>{{date}}</li>
                <li>{{date | date}}</li>
                <li>{{date | date:'short'}}</li>
                <li>{{date | date:'long'}}</li>
                <li>{{date | date:'MMMM'}}</li>
                <li>{{date | date:'MMMM dd, yyyy'}}</li>
            </ul>

            <hr/>
            <ul>
                <li>{{date | date:'long':'GMT-6'}}</li>
                <li>{{date | date:'long':'GMT-6':'fr'}}</li>
            </ul>
        </p-card> 
    </div>
</div>