<div class="text-layout">
    <h1>No so common Pipes</h1>
    <p>Pipes included in Angular - Usually in Common Module</p>
</div>

<div class="grid">
    <div class="md:col-6">
        <p-fieldset legend="i18nSelect Pipe" [toggleable]="true">
            <p>Hola {{name}}, es un placer {{gender | i18nSelect: invitationMap}} a nuestro evento.</p>
            <button pButton type="button" class="p-button-warning" label="Change name" (click)="changeName()"></button>
        </p-fieldset>
    </div>
    <div class="md:col-6">
        <p-fieldset legend="i18nPlural Pipe" [toggleable]="true">
            <p>{{customers.length | i18nPlural: customersMap}}</p>
            <button pButton type="button" class="p-button-danger" label="Delete customer" (click)="deleteCustomer()"></button>
        </p-fieldset>
    </div>
    <div class="md:col-6">
        <p-fieldset legend="Slice Pipe" [toggleable]="true">
            <strong>Original <pre>{{customers}}</pre></strong>
            <strong>Slice 0:2 <pre> {{customers | slice:1:2}}</pre></strong>
        </p-fieldset>
    </div>
</div>