<div class="text-layout">
    <h1>No so common Pipes</h1>
    <p>Pipes included in Angular - Usually in Common Module</p>
</div>

<div class="grid">
    <div class="md:col-6">
        <p-fieldset legend="i18nSelect Pipe" [toggleable]="true">
            Hola {{name}}, es un placer {{gender | i18nSelect: invitationMap}} a nuestro evento.
        </p-fieldset>
    </div>
    <div class="md:col-6">
        <p-fieldset legend="i18nPlural Pipe" [toggleable]="true">
            {{customers.length | i18nPlural: customersMap}}
        </p-fieldset>
    </div>

</div>